/*

*/
/* line 10, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
td {
  text-align: center;
  border: 1px solid white;
  width: 200px;
}

/* line 16, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.action-button {
  position: absolute;
  top: 13vw;
  height: 5vh;
  width: 23.2%;
  border: none;
  border-radius: 10px;
  color: #fff;
}

/* line 26, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.roll {
  left: 1.2%;
}

/* line 30, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.buy {
  left: 25.6%;
}

/* line 34, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.player-frames {
  position: absolute;
  display: inline;
  left: 1%;
  height: 12vw;
  width: 48%;
  text-align: center;
}

/* line 44, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.player-frames div {
  border-radius: 15px;
}

/* line 48, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.game-chat {
  position: absolute;
  text-align: left;
  left: 1%;
  top: 18vw;
  width: 48%;
  height: 60%;
  color: black;
  background-color: #fff;
  border-radius: 15px;
}

/* line 62, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.game-chat h1 {
  text-align: center;
  color: #fff;
  width: 100%;
  height: 10%;
  margin: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* line 73, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.game-chat-messages {
  position: absolute;
  background-color: #021F32;
  top: 10%;
  height: 80%;
  width: 100%;
  overflow-y: auto;
}

/* line 86, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.game-buttons {
  position: absolute;
  background-color: red;
  top: 13vw;
  left: 1vw;
  height: 4vw;
  width: 48vw;
}

/* line 95, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.loadable-buttons {
  display: none;
}

/* line 99, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
#start-button {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 106, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
#start-button button {
  width: 100%;
  height: 100%;
}

/* line 111, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
#waiting-on-host {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 119, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
#waiting-on-host button {
  height: 100%;
  width: 100%;
}

/* line 124, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.row {
  display: block;
  width: 99%;
  margin: 1px;
  margin-left: 5px;
  word-wrap: break-word;
  color: white;
}

/* line 133, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.status-message {
  color: yellow;
}

/* line 137, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.game-chat input {
  position: absolute;
  top: 90.8%;
  height: 6.3%;
  left: 1%;
  width: 82%;
}

/* line 145, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.submit {
  position: absolute;
  top: 90.8%;
  height: 7.5%;
  left: 85%;
  width: 14%;
}

/* line 153, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.game-chat input:hover {
  cursor: text;
}

/* line 157, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.player-1 {
  position: absolute;
  top: 3px;
  left: 3px;
  height: calc(100% - 7px);
  width: calc(25% - 7px);
  background-color: white;
  color: black;
  border: 1px solid white;
}

/* line 169, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.player-2 {
  position: absolute;
  top: 3px;
  left: calc(25% + 3px);
  height: calc(100% - 7px);
  width: calc(25% - 7px);
  background-color: white;
  color: black;
  border: 1px solid white;
}

/* line 181, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.player-3 {
  position: absolute;
  top: 3px;
  left: calc(50% + 3px);
  height: calc(100% - 7px);
  width: calc(25% - 7px);
  background-color: white;
  color: black;
  border: 1px solid white;
}

/* line 193, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.player-4 {
  position: absolute;
  top: 3px;
  left: calc(75% + 3px);
  height: calc(100% - 7px);
  width: calc(25% - 7px);
  background-color: white;
  color: black;
  border: 1px solid white;
}

/* line 205, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.game-board {
  position: absolute;
  background-color: #cde6d0;
  margin: 0px;
  top: 2px;
  left: 50vw;
  z-index: -100;
  height: 98vh;
  width: 98vh;
}

/* line 217, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.game-board-middle {
  position: relative;
  z-index: -99;
  border: 3px solid #000;
  height: 70%;
  width: 70%;
  top: 15%;
  left: 15%;
}

/* line 228, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.game-board-middle img {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

/* line 236, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.game-tiles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid red;
}

/* line 246, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.title-right {
  position: relative;
  left: 0px;
  height: 100%;
  width: 20%;
}

/* line 253, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.title-bottom {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20%;
}

/* line 261, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.title-left {
  position: relative;
  top: 0px;
  left: 80%;
  width: 20%;
  height: 100%;
}

/* line 269, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.title-top {
  position: relative;
  top: 80%;
  left: 0px;
  width: 100%;
  height: 20%;
}

/* line 277, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.brown {
  background-color: #955436;
}

/* line 278, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.teal {
  background-color: #aae0fa;
  border-bottom: 1px solid black;
}

/* line 282, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.pink {
  background-color: #d93a96;
}

/* line 283, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.orange {
  background-color: #f7941d;
}

/* line 284, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.red {
  background-color: #ed1b24;
}

/* line 285, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.yellow {
  background-color: #fef200;
}

/* line 286, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.green {
  background-color: #1fb25a;
}

/* line 287, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.blue {
  background-color: #0072bb;
}

/* line 288, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.grey {
  background-color: grey;
}

/* line 292, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.top-tile {
  position: absolute;
  top: -3px;
  height: 15%;
  width: 7.777777777%;
  border-right: 3px solid black;
  border-top: 3px solid black;
}

/* line 302, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.top-tile img {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 310, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.left-tile {
  position: absolute;
  left: 0px;
  height: 7.77777777%;
  width: 15%;
  border-top: 3px solid #000;
}

/* line 318, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.left-tile img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 3px);
}

/* line 326, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.bottom-tile {
  position: absolute;
  top: calc(85% + 3px);
  height: 15%;
  width: calc(7.777777777% - 3px);
  border: 3px solid #000;
}

/* line 334, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.bottom-tile img {
  position: relative;
  top: 0px;
  left: 0px;
  height: calc(100% - 6px);
  width: 100%;
}

/* line 342, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.right-tile {
  position: absolute;
  left: calc(85% + 3px);
  height: 7.77777777777%;
  width: 15%;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}

/* line 351, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.right-tile img {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% - 6px);
}

/* line 359, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.corner-tile {
  position: absolute;
  border: 3px solid #000;
  height: 15%;
  width: 15%;
}

/* line 366, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.corner-tile img {
  position: relative;
  height: calc(100% - 6px);
  width: calc(100% - 6px);
}

/* line 373, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.free-parking {
  top: -3px;
  left: -3px;
}

/* line 378, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.go-to-jail {
  top: -3px;
  left: calc(85% + 3px);
}

/* line 383, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.jail {
  top: calc(85% + 3px);
  left: -3px;
}

/* line 388, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.in-jail {
  position: relative;
  left: 30%;
  top: 0px;
  width: 70%;
  height: calc(70% - 3px);
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

/* line 398, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.in-jail img {
  position: relative;
  height: 100%;
  width: 100%;
}

/* line 404, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.go {
  top: calc(85% + 3px);
  left: calc(85% + 3px);
}

/* line 410, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.mediteranean-avenue {
  left: calc(85% - 7.777777777%);
  border-right: none;
  width: 7.77777777%;
}

/* line 417, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.community-chest-bottom {
  left: calc(85% - 2*7.777777777%);
}

/* line 421, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.baltic-avenue {
  left: calc(85% - 3*7.777777777%);
}

/* line 425, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.income-tax-bottom {
  left: calc(85% - 4*7.777777777%);
}

/* line 429, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.reading-railroad {
  left: calc(85% - 5*7.777777777%);
}

/* line 433, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.oriental-avenue {
  left: calc(85% - 6*7.777777777%);
}

/* line 437, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.chance-bottom {
  left: calc(85% - 7*7.777777777%);
}

/* line 441, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.vermont-avenue {
  left: calc(85% - 8*7.777777777%);
}

/* line 445, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.connecticut-avenue {
  left: calc(85% - 9*7.777777777%);
}

/* line 450, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.st-charles-place {
  top: calc(85% - 7.7777777%);
}

/* line 454, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.electric-company {
  top: calc(85% - 2*7.7777777%);
}

/* line 458, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.states-avenue {
  top: calc(85% - 3*7.7777777%);
  z-index: -100;
}

/* line 463, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.virginia-avenue {
  top: calc(85% - 4*7.7777777%);
  z-index: -200;
}

/* line 468, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.pennsylvania-railroad {
  top: calc(85% - 5*7.7777777%);
  z-index: -300;
}

/* line 473, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.st-james-place {
  top: calc(85% - 6*7.7777777%);
  z-index: -400;
}

/* line 478, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.community-chest-left {
  top: calc(85% - 7*7.7777777%);
  z-index: -500;
}

/* line 483, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.tennessee-avenue {
  top: calc(85% - 8*7.7777777%);
  z-index: -600;
}

/* line 488, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.new-york-avenue {
  top: calc(85% - 9*7.7777777%);
  z-index: -700;
}

/* line 494, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.kentucky-avenue {
  left: calc(15%);
  z-index: -100;
}

/* line 499, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.chance-top {
  left: calc(15% + 7.7777777%);
  z-index: -200;
}

/* line 504, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.indiana-avenue {
  left: calc(15% + 2*7.7777777%);
  z-index: -300;
}

/* line 509, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.illinois-avenue {
  left: calc(15% + 3*7.7777777%);
  z-index: -400;
}

/* line 514, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.b-n-o-railroad {
  left: calc(15% + 4*7.7777777%);
  z-index: -500;
}

/* line 519, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.atlantic-avenue {
  left: calc(15% + 5*7.7777777%);
  z-index: -600;
}

/* line 524, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.ventnor-avenue {
  left: calc(15% + 6*7.7777777%);
  z-index: -700;
}

/* line 529, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.water-works {
  left: calc(15% + 7*7.7777777%);
  z-index: -800;
}

/* line 534, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.marvin-gardens {
  left: calc(15% + 8*7.7777777%);
  z-index: -900;
  width: calc(7.777777777% + 3px);
  border-right: none;
}

/* line 542, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.pacific-avenue {
  top: 15%;
  z-index: -100;
}

/* line 547, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.north-carolina-avenue {
  top: calc(15% + 7.777777777%);
  z-index: -200;
}

/* line 552, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.community-chest-right {
  top: calc(15% + 2*7.777777777%);
  z-index: -300;
}

/* line 557, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.pennsylvania-avenue {
  top: calc(15% + 3*7.777777777%);
  z-index: -400;
}

/* line 562, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.short-line {
  top: calc(15% + 4*7.777777777%);
  z-index: -500;
}

/* line 567, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.chance-right {
  top: calc(15% + 5*7.777777777%);
  z-index: -600;
}

/* line 572, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.park-place {
  top: calc(15% + 6*7.777777777%);
  z-index: -700;
}

/* line 577, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.luxury-tax {
  top: calc(15% + 7*7.777777777%);
  z-index: -800;
}

/* line 582, /home/vinh/667-workspace/Monopoly/app/assets/stylesheets/game.css.scss */
.boardwalk {
  top: calc(15% + 8*7.777777777%);
  z-index: -900;
  border-bottom: none;
  height: calc(7.77777777% + 3px);
}
