<div class="banner">	
	<h1> Monopoly </h1>
</div>

<div class="content">
	<h1>Host a Game</h1>
	<p>Number of players: 3</p>
	<p>Public or private game: Private</p>

	<div class="add-player"><a href="">Invite Player</a></div>
	<div class="add-player"><a href="">Invite Player</a></div>
	<div class="add-player"><a href="">Invite Player</a></div>
</div>

<div class="start-button">
		<form action="/game/">
			<input type="submit" value="Start Game">
		</form>
	</div>
