<div class="banner">	
	<h1> Monopoly </h1>
</div>

<div class="start-game-buttons">
	<button id="find-game" type="button">Find Game!</button>
	
	<form action="/host_game/host.html">
		<input id="host-game" 	type="submit" value="Host Game">
	</form>

	<!--<%= button_to "Find Game!", {class: "yo"} %>
	<%= button_to "Host Game" %>-->
	<div class="chat-box">
		<h2>Public Chat</h2>
		<p>chat chat chat</p>
		<p>chat chat</p>
		<p>chat</p>

	</div>
</div>

<div class="friends-list">
	<h2>Friends List</h2>
	<ul>
		<li>Dave</li>
		<li>Linda</li>
		<li>McLovin</li>
	</ul>
</div>