/* line 5, /home/jake/667_workspace/monopoly/app/assets/stylesheets/host.css.scss */
.content {
  position: absolute;
  top: 10%;
}

.line {
  width: 100%;
  margin: 10px;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

.add-player{
	
}

.start-button {
	position: absolute;
	height:40%;
	width:30%;

	top: 80%;
	left: 65%;
}